<h2 id="about-title">Наша команда: </h2>
<div id="card-container-about">
  <div class="card" style="width: 18rem;">
    <img src="/images/boris.jpg" tabindex="0" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="card-text">
        <p><b>Борис Фаддеев - вокал, гитара, губная гармоника, верлибры.</b></p>Окончил СПбГУП - факультет культуры.
        Организатор, вдохновитель, производитель идей и беспорядка.
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/images/kristina.jpg" tabindex="1" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="card-text">
        <p><b>Кристина Крылатова - виолончель</b></p>Закончила магистратуру Российскую Академию Музыки им. Гнесиных.
        Лауреат
        всероссийских конкурсов. Работает в Академическом симфоническом оркестре Московской филармонии.
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/images/vasil.jpg" tabindex="2" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="card-text">
        <p><b>Василий Рогожин - бас-гитара, вокал.</b></p>Окончил ЦССМШ при консерватории (фортепиано), потом АМУ при
        консерватории (кафедра теории музыки). Так же окончил Институт Современного Искусства (бас-гитара). Играл во
        многих
        проектах, с музыкантами из разных стран в разных стилях и направлениях, лауреат всероссийских фестивалей как
        пианист-концертмейстер
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/images/zoya.jpg" tabindex="3" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="card-text">
        <p><b>Зоя Вязовская - флейты, арфа, скрипка, вокал.</b></p>Окончив музыкальные школы как пианистка, арфистка,
        скрипачка и флейтистка, поступила в АМК при МГК им.Чайковского, где совмещала учебу на теоретическом и духовом
        отделениях.
        С отличием закончила МГК им.Чайковского, а также Королевскую Академию Музыки в Лондоне
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/images/anton.jpg" tabindex="4" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="card-text">
        <p><b>Антон Прищепа - композитор, клавишные, кларнет, гармоника, дудук, вокал.</b></p> Окончил Российскую
        Академию
        Музыки им. Гнесиных, а затем и аспирантуру по двум специальностям: как кларнетист (класс Николая Волкова) и как
        композитор (класс профессора Кирилла Волкова).Лауреат конкурса «Сибирские музыкальные ассамблеи» (2002 год
        Новосибирск). Концертирующий солист и преподаватель. Он является заведующим кафедрой духовых инструментов в
        Московской средней специальной музыкальной школе им. Гнесиных.
      </div>
    </div>
  </div>




</div>
<style>
  #card-container-about {
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
  }

  .card-text {
    text-overflow: ellipsis;
    white-space: normal;
    height: 100%;
    overflow: hidden;
    width: 100%;

  }

  #about-title {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    color: #999;
  }

  .card {
    width: 350px;
    height: 600px;
    margin: 20px;
    padding: 5px;
  }

  .card-img-top {
    height: 300px;
  }

  img[tabindex="0"] {
    cursor: zoom-in;
  }

  img[tabindex="0"]:focus {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210, 210, 210, .4);
  }

  img[tabindex="0"]:focus,

  img[tabindex="0"]:focus~* {
    pointer-events: none;
    cursor: zoom-out;
  }

  img[tabindex="1"] {
    cursor: zoom-in;
  }

  img[tabindex="1"]:focus {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210, 210, 210, .4);
  }

  img[tabindex="1"]:focus,

  img[tabindex="1"]:focus~* {
    pointer-events: none;
    cursor: zoom-out;
  }

  img[tabindex="2"] {
    cursor: zoom-in;
  }

  img[tabindex="2"]:focus {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210, 210, 210, .4);
  }

  img[tabindex="2"]:focus,

  img[tabindex="2"]:focus~* {
    pointer-events: none;
    cursor: zoom-out;
  }

  img[tabindex="3"] {
    cursor: zoom-in;
  }

  img[tabindex="3"]:focus {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210, 210, 210, .4);
  }

  img[tabindex="3"]:focus,

  img[tabindex="3"]:focus~* {
    pointer-events: none;
    cursor: zoom-out;
  }

  img[tabindex="4"] {
    cursor: zoom-in;
  }

  img[tabindex="4"]:focus {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210, 210, 210, .4);
  }

  img[tabindex="4"]:focus,

  img[tabindex="4"]:focus~* {
    pointer-events: none;
    cursor: zoom-out;
  }
</style>
