<h2 >Наши музыканты: </h2>
<div id="containerabout">


  <div class="card wrapper exmpl" style="width: 20rem;">
    <div class=" wrapper exmpl">

      <img
        src="https://scontent.fhel6-1.fna.fbcdn.net/v/t1.0-9/67719842_2457529350935016_635653660864413696_o.jpg?_nc_cat=103&_nc_sid=730e14&_nc_ohc=R1oc-JaYQp4AX8pMdDm&_nc_ht=scontent.fhel6-1.fna&oh=cf8c03e85bda55701c2580fa30266918&oe=5F180684"
        class="card-img-top" alt="...">
    </div>

    <div class="cardbody">
      <h5 class="card-title">Борис Фаддеев</h5>
      <p class="card-text">Вокал, гитара, губная гармоника, верлибры</p>
    </div>
  </div>


  <div class="card wrapper exmpl" style="width: 20rem;">
    <div class=" wrapper exmpl">

      <img src="https://sun9-72.userapi.com/c855232/v855232978/1f2430/Y4j6fyX-B7U.jpg" class="card-img-top" alt="...">
    </div>

    <div class="cardbody">
      <h5 class="card-title">Кристина Крылатова</h5>
      <p class="card-text">Виолончель</p>
    </div>
  </div>


  <div class="card wrapper exmpl" style="width: 20rem;">
    <div class=" wrapper exmpl">

      <img src="https://sun9-67.userapi.com/c626223/v626223849/bcac/9BLpeKqY4is.jpg" class="card-img-top" alt="...">
    </div>

    <div class="cardbody">
      <h5 class="card-title">Василий Рогожин</h5>
      <p class="card-text">Бас - гитара, вокал</p>
    </div>
  </div>


  <div class="card wrapper exmpl" style="width: 20rem;">
    <div class=" wrapper exmpl">
      <img
        src="https://scontent.fhel3-1.fna.fbcdn.net/v/t1.0-9/83006529_10222310872546911_4451792258672361472_o.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_ohc=dsCcGNV1fXAAX8s0I6i&_nc_ht=scontent.fhel3-1.fna&oh=256633983dc40280e32322f5104a9c21&oe=5F1A984C"
        class="card-img-top" alt="...">
    </div>

    <div class="cardbody">
      <h5 class="card-title">Зоя Вязовская</h5>
      <p class="card-text">Флейты, арфа, скрипка, вокал</p>
    </div>
  </div>

  <div class="card wrapper exmpl" style="width: 20rem;">
    <div class=" wrapper exmpl">
      <img src="https://sun9-64.userapi.com/c848536/v848536297/1f0e7/3gq6Dsp7EDI.jpg" alt="...">
    </div>


    <div class="cardbody">
      <h5 class="card-title">Антон Прищепа</h5>
      <p class="card-text">Композитор, клавишные, кларнет, гармоника, дудук, вокал</p>
    </div>
  </div>


</div>
<style>
  #containerabout {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Oswald', sans-serif;
  }

  .card-title {
    color: #1b1b2b;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 25px;
  }



  .card {
    border: none;
    margin: 40px;
    border-radius: 6px;
            background-color: #aec427;

  }
  .cardbody{
        background-color: #aec427;

  }

  .wrapper {
    width: 600px;
    height: 600px;
  }

  .exmpl {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .exmpl img {
    height: 100%;
    width: auto;
  }
</style>
