
  <h2>Музыка</h2>

<br>
<p>Вся музыка доступна  <a href="https://vk.com/audios-16736325">здесь</a> </p>

  <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>

  <!-- VK Widget https://vk.com/dev/Playlist-->
  <div id="vk_playlist_96422054_45678105"></div>
  <script type="text/javascript">
    VK.Widgets.Playlist('vk_playlist_96422054_45678105', 96422054, 45678105, '816c696e72cb0198c2');
  </script>
</div>

