<div class="containerAudio" id="containerAudio">

  <h2 class="audioh">Музыка</h2>

  <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>

  <!-- VK Widget https://vk.com/dev/Playlist-->
  <div id="vk_playlist_96422054_45678105"></div>
  <script type="text/javascript">
    VK.Widgets.Playlist('vk_playlist_96422054_45678105', 96422054, 45678105, '816c696e72cb0198c2');
  </script>
</div>

<style>
  .audioh {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2em;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 80px;
  }
</style>
