
<h2>Контакты</h2>
<br>
<div class="contactdiv">
  <p>Организатор, вдохновитель, производитель идей и беспорядка </p>
  <p><b>Борис Фаддеев</b></p>
  <p>E-mail: <a href="mailto:dobrorkestr@gmail.com"> dobrorkestr@gmail.com</a></p>
  <p>WhatsApp:<a
      href="https://api.whatsapp.com/send?phone=79643360210&data=AbteY_ulNkNXS39X_NspOmbTSwlhpqmQH0TWYfB4OOCfGgrS1GXEwuei8geeK_ILKklnes2IwLWOw3RV6jS7nKMbOIZgFwSERDEc3B16Do6D1G5Pps0oIzt31loW3X-HRRA&source=FB_Ads">пишите
      сюда</a></p>
  <p>Телефон.: 7 964 336-02-10</p>
  

</div>



