<div class="card-container">
<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Менеджер</div>
  <div class="card-body text-info">
    <p class="card-title">Татьяна</p>
    <p class="card-title">EMAIL: tatuana@mail.ru</p>
    <p class="card-text">т. +7 988 343 54 35
    </p>
  </div>
</div>

<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Директор</div>
  <div class="card-body text-info">
    <p class="card-title">Татьяна</p>
    <p class="card-title">EMAIL: tatuana@mail.ru</p>
    <p class="card-text">т. +7 988 343 54 35
    </p>
  </div>
</div>
</div>
<style>
  .card {
    margin: 20px;

  }

  .card-body {
    opacity: 0.9;
  }
</style>
