<link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>

<div id="navbar">
  <a href="/" class="btn"> Главная </a>
  <a href="/about" class="btn">О нас</a>
  <a href="/news" class="btn">Новости</a>
  <a href="/music" class="btn">Музыка</a>
  <a href="/video" class="btn">Видео</a>
  <a href="/contact" class="btn">Контакты</a>
</div>



 {{!-- <style>
  * {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
    -moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
  }
  </style> 
 
 --}}

