@media (min-width: 768px) and (max-width: 1200px) {
  body {
    /* display: flex inline-block; */
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
  #navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
  }
  .btn {
    padding: 0px;
  }
  h1 {
    font-size: 34px;
  }
  .iconFooter {
    height: 100px;
    margin-left: -100px;
  }

  h6,
  .copyright-text {
    font-size: 23px;
  }
  .text-justify,
  a {
    font-size: 23px;
  }
  .wrapper {
    height: 300px;
    width: 300px;
  }
  .facebooknet {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .vknet {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .instagramnet {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  body {
    display: flex inline-block;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
  #navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
  }
  .btn {
    padding: 0px;
  }
  h1 {
    font-size: 34px;
  }
  .iconFooter {
    height: 100px;
  }

  h6,
  .copyright-text {
    font-size: 23px;
  }
  .text-justify,
  a {
    font-size: 23px;
  }
  .wrapper {
    height: 300px;
    width: 300px;
  }
  .facebooknet {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .vknet {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .instagramnet {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  body {
    display: flex inline-block;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
  #navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
  }
  .btn {
    padding: 0px;
  }
  h1 {
    font-size: 24px;
  }
  .iconFooter {
    height: 100px;
  }

  h6,
  .copyright-text {
    font-size: 16px;
  }
  .text-justify,
  a {
    font-size: 18px;
  }
  .wrapper {
    height: 300px;
    width: 300px;
  }
  .facebooknet {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .vknet {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .instagramnet {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
