body{
  padding:65px;
  text-align:center;
  font-family: 'Oswald', sans-serif;
} 

h1{
color:#ffffff;
font-weight:100;
font-size: 70px;
background-color: rgba(46, 80, 117, 0.36);
}

.btn{
  color:rgb(0, 0, 0);
  font-weight: 200;
  background:#aec427;
  padding:10px 20px;
  font-size:17px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  margin:5px
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  border: solid 1px black;
  padding:20px 20px; #000;
  color:#1b1b1b;
}

.footer{
  font-size:8px;
  color:#fff;
  clear:both;
  display:block;
  letter-spacing:5px;
  border:1px solid #fff;
  padding:5px;
  text-decoration:none;
  width:210px;
  margin:auto;
  margin-top:400px;
}
#navbar{
  margin: 50px;
  margin-top: -50px;
}
