.video-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  /* width: 100%; */
}

.videoDiv {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  height: auto;
  margin: 40px;
  padding: 10px;
}
